In [28]:
# PIZZA_SALES_ANALYTICS

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv("pizza_sales.csv")

In [5]:
# Convert order_date from DD-MM-YYYY format
df['order_date'] = pd.to_datetime(df['order_date'], format='%d-%m-%Y')

# Convert order_time from HH:MM:SS format
df['order_time'] = pd.to_datetime(df['order_time'], format='%H:%M:%S')

In [6]:
# KPI 1: Total Revenue
total_revenue = df['total_price'].sum()
print(f"Total_Revenue: {total_revenue:,.2f}")

Total_Revenue: 817,860.05

In [7]:
# KPI 2: Average Order Value
avg_order_value = df['total_price'].sum() / df['order_id'].nunique()
print(f"Avg_Order_Value: {avg_order_value:,.2f}")

Avg_Order_Value: 38.31

In [8]:
# KPI 3: Total Pizzas Sold
total_pizzas_sold = df['quantity'].sum()
print(f"Total_Pizzas_Sold: {total_pizzas_sold:,}")

Total_Pizzas_Sold: 49,574

In [9]:
# KPI 4: Total Orders
total_orders = df['order_id'].nunique()
print(f"Total_Orders: {total_orders:,}")

Total_Orders: 21,350

In [10]:
# KPI 5: Average Pizzas Per Order
avg_pizzas_per_order = total_pizzas_sold / total_orders
print(f"Avg_Pizzas_Per_Order: {avg_pizzas_per_order:.2f}")

Avg_Pizzas_Per_Order: 2.32

In [11]:
# Daily Trend: Total Orders by Day of Week
df['order_day'] = df['order_date'].dt.day_name()
daily_orders = (
    df.groupby('order_day')['order_id']
      .nunique()
      .reset_index(name='Total_Orders')
)
print("\nDaily Trend - Total Orders by Day:")
print(daily_orders)

Daily Trend - Total Orders by Day:
   order_day  Total_Orders
0     Friday          3538
1     Monday          2794
2   Saturday          3158
3     Sunday          2624
4   Thursday          3239
5    Tuesday          2973
6  Wednesday          3024

In [18]:
# Monthly Trend: Total Orders by Month
df['order_month'] = df['order_date'].dt.month_name()
monthly_orders = (
    df.groupby('order_month')['order_id']
      .nunique()
      .reset_index(name='Total_Orders')
)
print("\nMonthly Trend - Total Orders by Month:")
print(monthly_orders)

Monthly Trend - Total Orders by Month:
   order_month  Total_Orders
0        April          1799
1       August          1841
2     December          1680
3     February          1685
4      January          1845
5         July          1935
6         June          1773
7        March          1840
8          May          1853
9     November          1792
10     October          1646
11   September          1661

In [19]:
# Hourly Trend: Total Orders
df['order_hour'] = df['order_time'].dt.hour
hourly_orders = (
    df.groupby('order_hour')['order_id']
      .nunique()
      .reset_index(name='Total_Orders')
      .sort_values('order_hour', ascending=False)
)
print("\nHourly Trend - Total Orders:")
print(hourly_orders)

Hourly Trend - Total Orders:
    order_hour  Total_Orders
14          23            28
13          22           663
12          21          1198
11          20          1642
10          19          2009
9           18          2399
8           17          2336
7           16          1920
6           15          1468
5           14          1472
4           13          2455
3           12          2520
2           11          1231
1           10             8
0            9             1

In [20]:
# Percentage of Sales by Pizza Category
category_sales = (
    df.groupby('pizza_category')['total_price']
      .sum()
      .reset_index(name='Total_Revenue')
)
category_sales['PCT'] = (
    category_sales['Total_Revenue'] / category_sales['Total_Revenue'].sum()
) * 100
print("\nPercentage of Sales by Pizza Category:")
print(category_sales)

Percentage of Sales by Pizza Category:
  pizza_category  Total_Revenue        PCT
0        Chicken      195919.50  23.955138
1        Classic      220053.10  26.905960
2        Supreme      208197.00  25.456311
3         Veggie      193690.45  23.682591

In [21]:
# Percentage of Sales by Pizza Size
size_sales = (
    df.groupby('pizza_size')['total_price']
      .sum()
      .reset_index(name='Total_Revenue')
)
size_sales['PCT'] = (
    size_sales['Total_Revenue'] / size_sales['Total_Revenue'].sum()
) * 100
print("\nPercentage of Sales by Pizza Size:")
print(size_sales)

Percentage of Sales by Pizza Size:
  pizza_size  Total_Revenue        PCT
0          L      375318.70  45.890333
1          M      249382.25  30.492044
2          S      178076.50  21.773468
3         XL       14076.00   1.721077
4        XXL        1006.60   0.123077

In [22]:
# Top 5 Pizzas by Total Revenue
top_5_revenue = (
    df.groupby('pizza_name')['total_price']
      .sum()
      .sort_values(ascending=False)
      .head(5)
)
print("\nTop 5 Pizzas by Total Revenue:")
print(top_5_revenue)

Top 5 Pizzas by Total Revenue:
pizza_name
The Thai Chicken Pizza          43434.25
The Barbecue Chicken Pizza      42768.00
The California Chicken Pizza    41409.50
The Classic Deluxe Pizza        38180.50
The Spicy Italian Pizza         34831.25
Name: total_price, dtype: float64

In [23]:
# Bottom 5 Pizzas by Total Revenue
bottom_5_revenue = (
    df.groupby('pizza_name')['total_price']
      .sum()
      .sort_values()
      .head(5)
)
print("\nBottom 5 Pizzas by Total Revenue:")
print(bottom_5_revenue)

Bottom 5 Pizzas by Total Revenue:
pizza_name
The Brie Carre Pizza         11588.50
The Green Garden Pizza       13955.75
The Spinach Supreme Pizza    15277.75
The Mediterranean Pizza      15360.50
The Spinach Pesto Pizza      15596.00
Name: total_price, dtype: float64

In [24]:
# Top 5 Pizzas by Total Pizzas Sold
top_5_quantity = (
    df.groupby('pizza_name')['quantity']
      .sum()
      .sort_values(ascending=False)
      .head(5)
)
print("\nTop 5 Pizzas by Total Pizzas Sold:")
print(top_5_quantity)

Top 5 Pizzas by Total Pizzas Sold:
pizza_name
The Classic Deluxe Pizza      2453
The Barbecue Chicken Pizza    2432
The Hawaiian Pizza            2422
The Pepperoni Pizza           2418
The Thai Chicken Pizza        2371
Name: quantity, dtype: int64

In [25]:
# Bottom 5 Pizzas by Total Pizzas Sold
bottom_5_quantity = (
    df.groupby('pizza_name')['quantity']
      .sum()
      .sort_values()
      .head(5)
)
print("\nBottom 5 Pizzas by Total Pizzas Sold:")
print(bottom_5_quantity)

Bottom 5 Pizzas by Total Pizzas Sold:
pizza_name
The Brie Carre Pizza         490
The Mediterranean Pizza      934
The Calabrese Pizza          937
The Spinach Supreme Pizza    950
The Soppressata Pizza        961
Name: quantity, dtype: int64

In [26]:
# Top 5 Pizzas by Total Orders
top_5_orders = (
    df.groupby('pizza_name')['order_id']
      .nunique()
      .sort_values(ascending=False)
      .head(5)
)
print("\nTop 5 Pizzas by Total Orders:")
print(top_5_orders)

Top 5 Pizzas by Total Orders:
pizza_name
The Classic Deluxe Pizza      2329
The Hawaiian Pizza            2280
The Pepperoni Pizza           2278
The Barbecue Chicken Pizza    2273
The Thai Chicken Pizza        2225
Name: order_id, dtype: int64

In [27]:
# Bottom 5 Pizzas by Total Orders
bottom_5_orders = (
    df.groupby('pizza_name')['order_id']
      .nunique()
      .sort_values()
      .head(5)
)
print("\nBottom 5 Pizzas by Total Orders:")
print(bottom_5_orders)

Bottom 5 Pizzas by Total Orders:
pizza_name
The Brie Carre Pizza         480
The Mediterranean Pizza      912
The Spinach Supreme Pizza    918
The Calabrese Pizza          918
The Chicken Pesto Pizza      938
Name: order_id, dtype: int64